{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: <a href="{% url 'books_by_date' date=book.pub_date %}">{{ book.pub_date | date:'Y-m-d' }}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <nav>
            <ul class="pagination">
            {% if date_prev %}
            <li class="page-item">
                <a class="page-link" href="{% url 'books_by_date' date=date_prev %}">&lt; {{ date_prev | date:'Y-m-d' }}</a>
            </li>
            {% endif %}
            
            {% if date_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'books_by_date' date=date_next %}">{{ date_next | date:'Y-m-d' }} &gt;</a>
            </li>
            {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}